.leave-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .leave-form-container h2 {
    text-align: center;
    color: azure;
  }
  
  .leave-form-container form {
    display: grid;
    grid-gap: 10px;
  }
  
  .leave-form-container label {
    display: block;
    font-weight: bold;
    color: azure;
  }
  
  .leave-form-container input,
  .leave-form-container select,
  .leave-form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .leave-form-container textarea {
    height: 100px;
  }
  
  .leave-form-container button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .leave-form-container button[type="submit"]:hover {
    background-color: #45a049;
  }