<!DOCTYPE html>
<html>
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/admin_style.css') }}">
</head>
<body>
    <div id="sidebar">
        <div id="logo-container">
            <img src="{{ url_for('static', filename='/Sagehill white logo.png') }}" alt="Sagehill Logo">
        </div>
        <ul>
            <li><a href="#" id="home">Home</a></li>
            <li><a href="{{ url_for('employee_management') }}" id="employee-management">Employee Management</a></li>
            <li><a href="{{ url_for('employees_on_leave') }}" id="employees-on-leave">Employees on Leave</a></li>
        </ul>
    </div>

    <div id="content">
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Department</th>
            <th>On Leave</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.address }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.on_leave }}</td>
            <td>
                <a href="{{ url_for('edit_employee', employee_id=employee.employee_id) }}">Edit</a>
            </td>
            <td>
                <form action="{{ url_for('delete_employee', employee_id=employee.employee_id) }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Add Employees</h2>
    <form method="POST" action="{{ url_for('add_employee') }}">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="email">Employee Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="address">Home Address:</label>
        <input type="text" id="address" name="address" required>
        <label for="department">Department:</label>
        <select name="department">
            <option value=''>Select a category</option>
            <option value='Software Developer'>Software Development</option>
            <option value='Functional Consultant'>Functional Consultant</option>
            <option value='Management'>Management</option>
            <option value='Intern'>Intern</option>
        </select>
        <label for="on_leave">On Leave:</label>
        <input type="checkbox" id="on_leave" name="on_leave" onchange="updateOnLeaveValue()">
        <input type="submit" value="Add Employee">
    </form>
    <script>
        function updateOnLeaveValue() {
            var onLeaveCheckbox = document.getElementById("on_leave");
    
            // Update the value to "yes" if checked, or "no" if unchecked
            onLeaveCheckbox.value = onLeaveCheckbox.checked ? "yes" : "no";
        }
    </script>
    </div>
    <script src="{{ url_for('static', filename='/admin_script.js') }}"></script>
</body>
</html>