<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Request Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/employee_dash.css') }}">
</head>
<body onload="setMinDate()">

<h2>Leave Request Form</h2>
<div id="sidebar">
    <div id="logo-container">
        <img src="{{ url_for('static', filename='/Sagehill white logo.png') }}" alt="Sagehill Logo">
    </div>
    <ul>
        <li><a href="#" id="profile">Profile</a></li>
        <li><a href="#" id="resources">Resources</a></li>
        <li><a href="#" id="knowledge-base">Knowledge Base</a></li>
        <li><a href="{{ url_for('leaveform') }}" id="leave-application-form">
            Leave Application Form</a></li>
    </ul>
</div>
<form id="leaveForm" action="{{ url_for('submit_leave_request') }}" method="post" onsubmit="return onSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required>
    <br>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required>
    <br>

    <label for="leaveCategory">Leave Category:</label>
    <select name="leaveCategory">
        <option value=''>Select a category</option>
        <option value='sick leave'>Sick Leave</option>
        <option value='maternity leave'>Maternity Leave</option>
        <option value='annual leave'>Annual Leave</option>
        <option value='compassionate leave'>Compassionate Leave</option>
        <option value='parental leave'>Parental Leave</option>
        <option value='medical appointment'>Medical Appointment</option>
        <option value='study leave'>Study Leave</option>
    </select>

    <label for="additionalExplanation">Additional Explanation:</label>
    <textarea id="additionalExplanation" name="additionalExplanation" rows="4" cols="50"></textarea>
    <br>

    <input type="submit" value="Submit">
</form>

<script>
    // Set the minimum date for the date input fields to the current date
    function setMinDate() {
        var currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('startDate').min = currentDate;
        document.getElementById('endDate').min = currentDate;
    }

    function onSubmit() {
        // Display the pop-up message.
        alert('Leave request sent');

        // Reset the form after submission.
        document.getElementById('leaveForm').reset();
        return false;
    }
</script>

</body>
</html>
